@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<div class="col-12 m-2 bg-white align-items-center d-flex" style="border-radius: 10px">
    <div class="d-flex justify-content-center pt-4 pb-4 col-11">
        <h4 class="text-muted  ">Структура портфеля</h4>
        <h4 class="bi bi-sort-down-alt mx-2 text-info"></h4>
    </div>
    <div class="col-1 d-flex justify-content-end">
        <button type="button" class="btn me-4">
            <h5 class="bi bi-upload"></h5>
        </button>
    </div>

</div>
