@using Microsoft.AspNetCore.Components.Routing
@using System.Net.Http
@using System.Net.Http.Json
@using National.Domen.Models

<div class="justify-content-center m-2 navbar " >
    <div class="flex-column align-self-center d-flex ">

        <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <h3 class="bi bi-0-circle text-light"></h3>
        </button>
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

            <ul class="dropdown-men text-light me-4" aria-labelledby="dropdownMenuButton" style="list-style-type: none">
                <li class="my-2" title="Dashboard"><NavLink class="dropdown-item" href="home"> <h4 class="bi bi-pie-chart"></h4> </NavLink></li>
                <li class="my-2" title="Задачи"><NavLink class="dropdown-item" href="task"><h4 class="bi bi-list-task"></h4></NavLink></li>
                <li class="my-2" title="Календари"><a class="dropdown-item" href="#"><h4 class="bi bi-calendar3"></h4></a></li>

                <li title="ПУ" class="my-2"><button class="dropdown-item border-2 border-light p-1" href="#" onclick="@PU">ПУ</button></li>
                <li title="БУ" class="my-2"><button class="dropdown-item border-1 border-light p-1" href="#" onclick="@BU">БУ</button></li>
                <li title="ЛА" class="my-2"><button class="dropdown-item border-1 p-1" href="#">ЛА</button></li>
            </ul>
        </div>

    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" /> 

@code{
    HttpClient httpClient = new HttpClient();
    
    public async void PU()
    {
        National.MauiProgram.ListProblems = await httpClient.GetFromJsonAsync<IEnumerable<Problem>>($"http://192.168.0.10:5138/api/Task/shortTitle?shortTitle=ПРИСКОДОК");
    }

    public async void BU()
    {
        National.MauiProgram.ListProblems = await httpClient.GetFromJsonAsync<IEnumerable<Problem>>($"http://192.168.0.10:5138/api/Task/shortTitle?shortTitle=ЧГБУХ");
    }
}
