<div class="container-fluid">
    <nav class="nav d-flex justify-content-between">
        <div>
            <button type="button" class="btn">
                <h4 class="bi bi-list-task m-0 text-center align-middle"></h4>
            </button>
           
            <input class="form-label border-1" style="background-color: #ccc; border-radius: 5px"/>
            <button type="button" class="btn">
                <h4 class="bi bi-search m-0"></h4>
            </button>
        </div>

        <div>
            <button type="button" class="btn">
                <h3 class="bi bi-envelope-fill text-info"></h3>
            </button >

            <button type="button" class="btn">
                <h3 class="bi bi-hand-thumbs-up"></h3>
            </button>

            <button type="button" class="btn">
                <h2 class="bi bi-question"></h2>
            </button>

            <button type="button" class="btn">

            </button>
        </div>
    </nav>
</div>
